In [1]:
import os
path = os.path.abspath(os.path.join('..','..'))
import sys
sys.path.append(path)
from reservoirpy.pvtpy import black_oil as bo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

/home/santiago/Documents/dev/reservoirpy/reservoirpy/pvtpy/black_oil/pvt.py:334: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert(pressure,(list,np.ndarray,type(None)))

In [2]:
composition = {
    'mole_fraction':[0.02,0.01,0.85,0.04,0.03,0.03,0.02]
    }


x=bo.chromatography(composition, index=['carbon-dioxide','nitrogen','methane','ethane','propane','isobutane','n-butane'])

In [3]:
x

                mole_fraction formula       mw     ppc     tpc
carbon-dioxide           0.02     CO2  44.0100  1071.0   87.91
nitrogen                 0.01      N2  28.0134   493.1 -232.51
methane                  0.85     CH4  16.0430   666.4 -116.67
ethane                   0.04    C2H6  30.0700   706.5   89.92
propane                  0.03    C3H8  44.0970   616.0  206.06
isobutane                0.03   C4H10  58.1230   527.9  274.46
n-butane                 0.02   C4H10  58.1230   550.6  305.62

In [4]:
x.ma

20.228744

In [5]:
x.gas_sg

0.6985063535911602

In [6]:
x.ppc

666.3799999999999

In [7]:
x.tpc

-75.61160000000001

In [8]:
x.get_z(p=3000, t=180)

                 z
pressure
3000      0.867374

In [9]:
x.get_rhog(p=3000,t=180)

               rhog
pressure
3000      10.188352

In [10]:
x.get_rhog(p=np.linspace(1000,5000,10),t=180,rhog_method='real_gas')

                  rhog
pressure
1000.000000   3.144246
1444.444444   4.650834
1888.888889   6.205621
2333.333333   7.791820
2777.777778   9.390573
3222.222222  10.981592
3666.666667  12.543954
4111.111111  14.056981
4555.555556  15.501140
5000.000000  16.858874

In [11]:
x.get_sv(p=3000,t=180)

                sv
pressure
3000      0.098151