In [1]:
import os
path = os.path.abspath(os.path.join('..','..'))
import sys
sys.path.append(path)
from reservoirpy.pvtpy import black_oil as bo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
s = 20000
p = 5000
t = 200
rsw = 17.8
p_range = np.linspace(1000,5000,10)

In [3]:
bo.rsw(p=p,t=t,s=s,method=['culberson','mccoy'])

          rws_culberson  rsw_mccoy
pressure
5000          20.025272  17.728061

In [4]:
bo.bw(p=p,t=t,s=s,method=['mccain','mccoy'])

          bw_mccain  bw_mccoy
pressure
5000       1.039398  1.000669

In [5]:
bo.cw(p=p,t=t,s=s,rsw=rsw,method=['standing','osif'])

           cw_standing   cw_osif
pressure
5000      3.227573e+06  0.000003